.git/
.github/
.idea/
.vs/
.vscode/

**/bin/
**/obj/
**/*.lscache
**/*.log
**/*.user
**/*.suo

Taskly.Web/
Taskly.UnitTests/
Taskly.IntegrationTests/

**/appsettings.*.json

compose.yaml
render.yaml
README.md
