# Build results
bin/
obj/
*.user
*.suo
*.db

# End-to-end tests
Rivulus.E2ETests/node_modules/
Rivulus.E2ETests/playwright-report/
Rivulus.E2ETests/test-results/

# Visual Studio
.vscode/
*.vs/
*.DS_Store

*.lscache
# Logs
*.log

# Secrets
backups/
*.archive.gz
backup.yml
restore.yml
appsettings.*.json
!Rivulus.API/appsettings.Development.json
!Rivulus.API/appsettings.Testing.json
